{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script src="{% static 'js/signup.js' %}" defer></script> <!-- Include JavaScript file -->
</head>
<body>
    <div class="signup-container">
        <div class="signup-form">
            <h2>Create a New Account</h2>
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}

                <div class="form-fields">
                    <!-- Email Field -->
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>

                   <!-- Username Field -->
                  <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    <span class="username-rules" id="username-rules" style="display:none;">
                     150 characters or fewer. Letters, digits and @/./+/-/_ only
                    </span>
                    {{ form.username.errors }}
                     </div>

                    <!-- Password Field 1 with Tooltip on Focus -->
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        <input type="password" name="password1" id="id_password1" class="form-control" required>
                        <span class="password-rules" id="password-rules" style="display:none;">
                            Your password can’t be too similar to your other personal information<br><br>

                            Your password must contain at least 8 characters<br><br>

                            Your password can’t be a commonly used password<br><br>

                            Your password can’t be entirely numeric
                        </span>
                        {{ form.password1.errors }}
                    </div>

                    <!-- Password Field 2 -->
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                </div>

                <button type="submit" class="btn">Sign Up</button>
            </form>

            <p class="login-link">
                Already have an account? <a href="{% url 'account' %}">Login</a>
            </p>
        </div>
    </div>

    <div class="background-container"></div>
</body>
</html>
